<%- include('partials/header'); -%>

<form>
    <h2>Search Invoices</h2>
    <label for="supplier">Enter Supplier</label>
    <input type="text" name="supplier" required />
    <div class="supplier error"></div>
    <button>Search</button>
</form>
    <ul></ul>

<script>
    const form = document.querySelector('form')

    form.addEventListener('submit', async (e)=>{
        e.preventDefault()
        const Supplier = form.supplier.value
        
        try {
            const res = await fetch('/invoice/filter', {
                method: 'GET',
                query: JSON.stringify({
                    Supplier
                }),
                headers:{'Content-Type': 'application/json'}
            })
            const invoices = await res.json()
            console.log(invoices)
            for (let invoice of invoices){
                var node = document.createElement('li');
                node.appendChild(document.createTextNode('Invoice Date: '+ '        ' + invoice.Date + 'File:  '));
                var a = document.createElement('a');
                a.href = '/invoice/file/' + invoice._id
                a.innerText = 'File Link'
                node.appendChild(a)
                document.querySelector('ul').appendChild(node);
            }
        }
        catch(err){res.send(err)}
        

    })
</script>
<%- include('partials/footer'); -%>